body{
    background-color: rgb(72, 72, 72);
}
.container{
    display: block;
}
#grid{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
#grid .cell.active{
    outline: 2px solid green;
    margin-left: 2px;
}
#grid .cell:not(.active){
    margin: 2px;
}
#grid .cell.used{
    background-color: black;
}
#grid .cell{
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: white;
    text-align: center;
}
.axisContainer{
    width: 100%;
}
.infoContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#function, #time{
    color: white;
    font-size: 28px;
}
#axis{
    width: 100%;
}
#axis #line{
    height: 3px;
    background-color: white;
    width: 100%;
}
#axis #numbers{
    display: flex;
    justify-content: center;
}
#numbers .number{
    width: 60px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 25px;
}
#car{
    width: 40px;
    height: 40px;
    background-image: url("car.png");
    background-position: center;
    background-size: cover;
    margin: 0;
    transition: all 0.5s ease-in-out;
}
#explanation{
    max-width: 800px;
    margin: 30px auto 0 auto;
    color: white;
    text-align: center;
}
#explanation em{
    display: block;
    margin: 10px 0;
}